<div>
  <button
    type="button"
    class="btn btn-info btn-sm mb-2"
    (click)="newUser(template)"
  >
    <i class="fas fa-user-plus"></i> New
  </button>

  <table class="table table-hover table-bordered col-md-12">
    <thead class="bg-dark text-white">
      <th>firstName</th>
      <th>lastName</th>
      <th>email</th>
      <th>address</th>
      <th>phoneNumber</th>
      <th>userName</th>
      <th>role</th>

      <th>operations</th>
    </thead>
    <tbody class="bg-white text-dark">
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.role.name }}</td>
        <!-- <td>{{user.role!=null ? user.role.name : "default"}}</td> -->

        <td>
          <button
            class="btn btn-success mr-2 btn-sm"
            (click)="updateStudent(user, template)"
          >
            <i class="fas fa-edit"></i> Edit
          </button>
          <button
            class="btn btn-danger mr-2 btn-sm"
            (click)="deleteReq(confirmDelete)"
          >
            <i class="fas fa-trash-alt"></i> Delete
          </button>
          <!-- confirmDelete modal -->
          <ng-template #confirmDelete>
            <div class="modal-body text-center">
              <p>Do you want to confirm?</p>
              <button
                type="button"
                class="btn btn-success text-white mr-2"
                (click)="confirm(user)"
              >
                <i class="fas fa-check"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger text-white"
                (click)="decline()"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </ng-template>
          <!-- end confirmDelete -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add and update user -->
<!-- modal -->
<ng-template #template class="col-md-8">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ operation }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="processForm()" #userForm="ngForm">
      <div class="form-row">
        <!-- first name -->
        <div class="form-group col-md-6">
          <label
            for="description"
            class="col-form-label col-form-label-sm customLabel"
          >
            First Name :
          </label>
          <input
            type="text"
            name="firstName"
            placeholder="firstName"
            class="form-control"
            [(ngModel)]="userObj.firstName"
            #firstName="ngModel"
            minlength="3"
            required
          />
        </div>

        <!-- last name -->
        <div class="form-group col-md-6">
          <label
            for="description"
            class="col-form-label col-form-label-sm customLabel"
          >
            Last Name :
          </label>
          <input
            type="text"
            name="lastName"
            placeholder="lastName"
            class="form-control"
            [(ngModel)]="userObj.lastName"
            #lastName="ngModel"
            minlength="3"
            required
          />
        </div>
      </div>
      <!-- validation of first name -->
      <div
        *ngIf="
          (firstName.invalid && (firstName.dirty || firstName.Untouched)) ||
          (lastName.invalid && (lastName.dirty || lastName.Untouched))
        "
        class="alert alert-danger"
      >
        3 characters at least
      </div>
      <!-- email -->
      <div class="form-group">
        <label
          for="description"
          class="col-form-label col-form-label-sm customLabel"
        >
          Email :
        </label>
        <input
          type="email"
          name="email"
          placeholder="email"
          class="form-control"
          [(ngModel)]="userObj.email"
          required
          #email="ngModel"
          minlength="6"
          email
        />
      </div>
      <div
        *ngIf="email.invalid && (email.dirty || email.Untouched)"
        class="alert alert-danger"
      >
        type a valid email
      </div>
      <!-- email end -->

      <!-- address -->
      <div class="form-group">
        <label
          for="description"
          class="col-form-label col-form-label-sm customLabel"
        >
          Address :
        </label>
        <input
          type="text"
          name="address"
          placeholder="address"
          class="form-control"
          [(ngModel)]="userObj.address"
          required
          minlength="4"
          maxlength="25"
        />
      </div>
      <!-- adress end  -->

      <!-- phoneNumber -->
      <div class="form-group">
        <label
          for="description"
          class="col-form-label col-form-label-sm customLabel"
        >
          phone Number :
        </label>
        <input
          type="text"
          name="phoneNumber"
          placeholder="phoneNumber"
          class="form-control"
          [(ngModel)]="userObj.phoneNumber"
          required
          minlength="4"
          maxlength="25"
        />
      </div>
      <!-- phone Number -->

      <div class="form-row">
        <!-- userName -->
        <div class="form-group col-md-6">
          <label
            for="description"
            class="col-form-label col-form-label-sm customLabel"
          >
            UserName :
          </label>
          <input
            type="text"
            name="userName"
            placeholder="userName"
            class="form-control"
            [(ngModel)]="userObj.userName"
            required
            minlength="3"
            maxlength="10"
          />
        </div>
        <!-- password -->
        <div class="form-group col-md-6" *ngIf="displayPassword">
          <label
            for="description"
            class="col-form-label col-form-label-sm customLabel"
          >
            password :
          </label>
          <input
            type="password"
            name="password"
            placeholder="password"
            class="form-control"
            [(ngModel)]="userObj.password"
            required
            minlength="3"
            maxlength="10"
          />
        </div>
      </div>

      <!-- role -->
      <div class="form-group">
        <label
          for="description"
          class="col-form-label col-form-label-sm customLabel"
        >
          role :
        </label>
        <select
          name="role"
          id="role"
          class="form-control"
          [(ngModel)]="userObj.role"
          required
        >
          <option *ngFor="let item of roles" [ngValue]="item">
            {{ item.name }}
          </option>
        </select>
      </div>

      <!-- <div class="form-group">
              <input type="submit" class='btn-sm btn btn-primary' value="Save" />
          </div> -->
      <button
        type="submit"
        class="btn-sm btn btn-primary"
        [disabled]="userForm.form.invalid"
      >
        Save
      </button>
    </form>
    <button class="fix-cancel btn-sm btn btn-danger" (click)="modalRef.hide()">
      close
    </button>
  </div>
</ng-template>
