.my-row {
  margin: 150px auto;
  width: 400px;
}
.my-h2 {
  color: #848484cc;
  font-size: 30px;
  font-family: tahoma, arial;
}

.logo {
  width: 400px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  left: -20px;
}
